.IOS {
  background-color: red;
 
}
.FirstLeft  .specialPageH1 {
  /* Styles for h1 on the special page */
  font-size: 45px; /* Example larger font size */
}

.form {
width: 100%;
}
.form h4 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0; 
}
.p {
  margin-bottom: 21px;
    font-size: 20px;
    text-align: center;
    font-weight: 700;

}

.animationTextWrap {
  overflow: hidden;
  height: 30px;
  font-weight: 800; /* Adjust the height as needed */
}

.verticalSlideWrapper {
  animation: verticalSlide 5s infinite; /* Adjust the duration as needed */
  animation-delay: calc(3s * var(--i));

  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  height: 30px; /* Adjust the height as needed */
}

.animationText {
  display: inline-block;
}

@keyframes verticalSlide {
  0%, 10%, 100% {
    transform: translateY(0%);
  }
  20%, 40% {
    transform: translateY(-100%);
  }
  60%, 80%{
    transform: translateY(-200%);
  }
  80%, 100% {
    transform: translateY(-300%);
  }
}


.bgvidos {
  width: 564px;
    height: 276px;

}
.ReactPlayer {
  width: 532px !important;
  height: 300px !important;
  border-radius: 20%;
}
.ReactPlayerone{
  width: 542px !important;
  height: 300px !important;
  border-radius: 20%;
}




.First {
  background-size: contain;
  margin-top: 80px;
  padding: 45px 100px 40px 130px;
  display: grid;
  grid-template-columns: 56% 40%;
  gap: 50px;
  background: #212121;
  align-items: center;
}
.fillBtn {
  font-size: 18px;
  border-radius: 4px;
  background-color: #0072bc !important;
  font-weight: 700;
  color: white !important;
  height: 100%;
}
/* .imgArrow {
    margin-top: -30px !important;
} */
.ptopC {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  text-align: left;
  margin: 10px 0px 10px 0px;
  line-height: 30px;
  margin: 0;
  width: fit-content;
  border-radius: 3.75px;
  padding-left: 10px;
  background: linear-gradient(
    90deg,
    #0072bc 3.52%,
    rgba(52, 52, 52, 0) 103.89%
  );
}
.ptop {
  font-size: 16px;
  text-align: left;
  margin: 10px 0px 10px 0px;
  line-height: 30px;
  color: #fff;
}
.ptopR {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
.ptopCiity {
  font-size: 23px;
  margin-bottom: 30px;
  color: #fff;
}
.h1Span {
  color: #FE7A36;
}
.h1 {
  color: #fff;
  font-weight: 700;
  margin: 15px 0px 10px 0px;
  text-align: left;
  line-height: 46px;
  font-size: 36px;
}
.FirstLeft {
  position: relative;
}

.line {
  position: absolute;
  top: 72%;
  left: 57%;
  transform: rotate(-20deg);
}
.blink {
  font-size: 20px;
  color: #767676;
}
.animationTextWrap {
  margin-top: 24px;
  margin-bottom: 44px;
  /* height: 40px; */
}
.animationText {
  color: white;
}
.btnImageMobile {
  display: none;
}
.Mobile {
  display: none;
}
.Desktop {
  display: block;
  align-items: center;
  gap: 10px;
}
.DAibm{
  display: flex;
  gap: 14px;
  align-items:  center;
  }
.secondLeft {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  margin: auto;
  background-color: white;
  padding: 30px 20px 20px 20px;
  border-radius: 6px;
  border: 1px solid rgb(221, 221, 221);
}
.btnImage {
  display: flex;
  gap: 20px;
  align-items: center;
  width: max-content;
}

.btnImage button {
  padding: 14px 60px;
}
.descLine {
  color: #767676;
  margin: 0 !important;
  margin-bottom: 20px !important;
  text-transform: uppercase;
}
.logos {
  display: none;
}
.IBMlogoPlay {
  display: none;
}
.logosD {
  display: flex;
  justify-content: space-evenly;
}
.ImageBlock {
  width: 300px;
  height: max-content;
}
.FaPlay {
  background: #fff;
  padding: 7px 40px;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  height: fit-content;
  cursor: pointer;
}

.IconYou {
  color: red;
  font-size: 30px;
}
.twodiv{

  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #fff;
  margin: 40px 0px;
}
.divone{
  border-radius: 10px;
background: linear-gradient(270deg, rgba(249, 150, 0, 0.40) 0%, rgba(249, 150, 0, 0.00) 100%);
padding: 5px 15px; 
}
.divone span {
  color: #FE7A36;
}
@media (max-width: 1281px) {
  .First {
    padding: 40px 80px;
  }
  .h1 {
    font-size: 30px;
    line-height: 39px;
  }
  .animationText {
    font-size: 23px;
  }
  .ptop {
    font-size: 19px;
  }
  .animationTextWrap {
    margin-top: 6px;
    margin-bottom: 16px;
  }
  .ImageBlock {
    width: 250px;
  }
}
@media (max-width: 1024px) {
  .ImageBlock {
    width: 200px;
  }
}
@media (max-width: 961px) {
  .First {
    padding: 30px 40px;
  }
  .h1 {
    font-size: 22px;
  }
  .ptopC {
    font-size: 19px !important;
  }
  .animationText {
    font-size: 21px;
  }
  .animationTextWrap {
    margin-bottom: 7px;
  }
  .ImageBlock {
    width: 180px;
  }
}
@media (max-width: 801px) {
  .First {
    display: flex;
    flex-flow: column;
    padding: 70px 50px 70px 50px;
  }
  .animationTextWrap {
    justify-content: center;
    text-align: center;
  }
  .ptopC,
  .h1,
  .ptop,
  .IBMlogo {
    text-align: center;
    justify-content: center;
  }
  .secondLeft {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .btnImage {
    margin: auto !important;
  }
  .ImageBlock {
    margin: auto;
  }
}
@media (max-width: 641px) {

  .FaPlay {
    padding: 7px 10px;
  }
  
  .IconYou {
    color: red;
    font-size: 22px;
  }  .FaPlay {
    padding: 7px 10px;
  }
  
  .IconYou {
    color: red;
    font-size: 22px;
  }

  .bgvidos {
    width: 356px;
    height: 200px;
  }
  .bgvidosone{
    width: 362px;
    height: 200px;
  }
  .First {
    padding: 37px 0px 30px 0px;
    margin-top: 47px;
    gap: 0px;
  }
  .btnImageMobile {
    display: block;
    gap: 20px;
    margin: 10px 0px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }
  .ReactPlayer {
    width: 100% !important;
    height: 100% !important;
  }
  .p {
    text-align: center;
  }



}
@media (max-width: 481px) {
  .form {
    margin: 0px 0px;
    padding: 0px;
  }
  .FirstLeft {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .Mobile .secondLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    padding:20px 0px;
  }

  .First > .secondLeft {
    display: none;
  }

  .Desktop {
    display: none;
  }
  .Mobile {
    display: block;
    width: 100%;
    margin-top: 15px;
  }
  .btnImage {
    display: none;
  }
  .secondLeft {
    position: relative;
    height:auto;
    margin-bottom: 0px;
  }
  .secondInner {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .h1 {
    font-size: 27px;
  }

  .ptopC,
  .h1 {
    justify-content: center;
    text-align: left;
    font-size: 28px;
    line-height: 1.3;
    margin: 0;
    padding: 0px 20px;
  }

  .ptop {
    color: #fff;
    text-align: start;
    font-size: 15px;
    font-weight: 400;
    margin-left: 22px;
  }
  .ptopC {
    font-size: 14px !important;
    padding: 8px 20px;
    border-radius: 0;
  }
  .ptopCiity {
    display: none;
  }
  .animationTextWrap {
    justify-content: left;
    text-align: left;
  }
  .IBMlogo {
    justify-content: left !important;
    text-align: left !important;
  }
  .ImageBlock {
    margin: 22px;
        display: flex;
        justify-content: start;
        margin-top: 0;
  }
  .animationText {
    display: none;
  }
  .btnImageMobile button {
    padding: 10px 10px;
  }
  .btnImageMobile {
    display: flex;
    justify-content: center;
    margin: 40px 10px;
  }
  .twodiv{
    flex-direction: column;
    /* display: block; */
    /* margin: 30px 130px 0px 11px; */
    gap: 20px;
    width: fit-content;
}
.divone{
  padding: 14px;
}

.ptoptwo{
color: #fff;
  margin-left: 22px;
  margin-bottom: 10px;
}
.imgGuwahati{
  margin: 0px 183px 0px 0px;
}
.FirstLeft  .specialPageH1 {
  /* Styles for h1 on the special page */
  font-size: 35px; /* Example larger font size */
}


  }

  @media (max-width: 400px) {


    .ImageBlock{
      margin: auto;
      display: flex;
      justify-content: start;
      margin-bottom: 20px;
      margin-left: 18px;
  

    }
    .imgGuwahati{
      margin: 0px 210px 0px 0px;
    }
  }
