/* new css */

.ThreeCard {
  display: grid;
  grid-template-columns: 28% 34% 28%;
  gap: 58px;
  padding: 0px 150px;
  align-items: center;
  margin-top: 50px;
}

.first {
  border-radius: 6px;
  background: #f4fbff;
  padding: 30px 20px;
  color: #484848;
  height: fit-content;
}

.divButton {
  display: flex;
  margin: 20px 0px 0px;
  justify-content: center;
}

.first p {
  margin: 0;
  color: #484848c2;
  font-size: 16px;
  font-weight: 400;
}

.imgFee img {
  width: 100%;
  height: auto;
}

.second {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px;
}

.cutText {
  color: #484848bf !important;
  text-align: center;
  font-size: 26.153px;
  font-weight: 300;
  text-decoration: line-through;
  margin: 20px 0px 0px 0px;
}

.divContent {
  text-align: center;
  margin: 20px 0px;
}

.divContent p {
  margin: 5px;
}

.divContent .boxSpan {
  color: #2db621;
  font-size: 20px;
  font-weight: 700;
}

.spanText {
  color: #484848;
  text-align: center;
  font-size: 14.814px;
  font-weight: 400;
}

.pTop {
  color: #484848;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-weight: bold;
}

.price {
  color: #484848;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

.second p {
  color: #484848;
}

.box {
  border-radius: 6px;
  background: #f7f7f7;
  padding: 25px 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box p {
  margin: 0;
  text-align: center;
  display: flex;
  gap: 20px;
  align-items: center;
}

.boxP {
  color: #272727;
  font-size: 16px;
  font-weight: 600;
}

.boxSpan {
  color: #2db621;
  font-size: 16px;
  font-weight: 700;
}

.boxSpanP {
  color: #8d8e8f;
  font-size: 14px;
  font-weight: 400;
}

.orangeText {
  color: #f99600 !important;
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0px 10px 0px;
}

.iconImage img {
  width: 100%;
  height: auto;
}

.third {
  border-radius: 6px;
  background: #fff5e5;
  padding: 30px 0px;
  height: fit-content;
}

.third > p {
  color: #484848;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.boxOrange {
  margin: 30px 0px 30px 30px;
}

.boxOrange > p {
  margin: 0;
  color: #f99600;
  font-size: 16px;
  font-weight: 700;
}

.batches {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  align-items: center;
}

.date {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.Time {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 20px;
}

.day {
  color: #707070;
  font-size: 16px;
  font-weight: 700;
}

.paraBot {
  color: #484848;
  font-size: 16px;
  font-weight: 400;
}

.batchImg {
  display: flex;
  justify-content: space-between;
}

.batchImg > p {
  margin: 0;
  color: #f99600;
  font-size: 16px;
  font-weight: 700;
}

.batchImg img {
  position: relative;
  margin-left: -10px;
}

.feesmain h2 {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 641px) {
  .ThreeCard {
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    margin-top: 20px;
  }

  .feesmain h2 {
    text-align: center;
    margin-top: 50px;
  }

  .second {
    padding: 20px;
  }

  .box {
    padding: 20px 10px;
  }
}
