
.conteiner {
  margin-top: 80px;
  background: url(https://d32and0ii3b8oy.cloudfront.net/web/s3_main/Course-home/shades.webp);
  background-color: rgba(15, 14, 14, 0.954);
  background-repeat: no-repeat;
}


.gridConteiner{

  display: grid;
    grid-template-columns: 60% 33%;
    width: 1300px;
    margin: auto;
    padding: 60px 0;
    gap: 10px;
    justify-content: space-between;


  

}
.gridConteiner h1 {
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: 126.5%; /* 75.9px */
letter-spacing: 0.6px;
color: #fff;
font-weight: 700;
}
.btn {
  position: relative; /* For positioning the pseudo-element */
  overflow: hidden; /* To prevent the pseudo-element from overflowing */
  border-radius: 12px;
  background: linear-gradient(90deg, #0383FF 0%, #003456 100%);
  border: none;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  box-shadow: rgba(10, 10, 10, 0.2) 0px 8px 24px;
  margin-top: 60px;
  transition: all 10s ease; /* Smooth transition for the button */
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%; /* Start from outside the button */
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Glass-like effect */
  border-radius: 1px;
  backdrop-filter: blur(1px); /* Adds a blur to create the glass effect */
  transition: all 0.5s ease; /* Smooth transition */
}

.btn:hover::before {
  left: 100%; /* Move to the other side */
}

.backgroundGradient {
  width: 100vw;
  height: 800px; /* Adjust the height as needed */
  background: radial-gradient(circle at top left, #063B5C, transparent 60%),
              radial-gradient(circle at bottom right, #FE7A36, transparent 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}



.rytConteiner{
  border-top-right-radius: 34px;
  border-top-left-radius: 34px;
background: linear-gradient(0deg, #FBFBFB 0%, #FBFBFB 100%), linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), #F5F5F5;
display: flex;
flex-direction: column;
gap: 10px;
padding: 40px;
position: relative;
}
.rytConteiner h2 {
  color: #4F4B4B;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.hr{
  width: 330px;
  height: 1px;
}
.spandiv{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;

  
}
.listryt{
  display: flex;
  align-items: center;
  gap: 8px;
}
.listryt span {
  color: #212121;
font-size: 17.377px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.listDown{
border-radius: 0px 0px 34px 34px;
background: linear-gradient(0deg, #E1E1E1 0%, #E1E1E1 100%), linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), #F5F5F5;
padding: 26px;
display: flex;
}
.bookFreebtn{
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 6px;


}
.bookFreebtn button {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 6px;
  background: #022646;
  border: none;
  padding: 15px 20px;
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  overflow: hidden;
  transition: background 0.3s, box-shadow 0.5s ease;

  cursor: pointer;
}

.bookFreebtn button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(39, 103, 180, 0.2); /* Transparent white for glow */
  transition: left 0.5s ease;
  z-index: 0;
}

.bookFreebtn button:hover::before {
  left: 0;
}

.bookFreebtn button:hover {
  background: #022646; /* Keep the same background color */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); /* Glowing effect */
  color: #35d028;
}

.bookFreebtn button span {
  position: relative;
  z-index: 1; /* Ensure text is above the glowing effect */
}

.bookFreebtn p {
  color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}





.greenTag{
  width: fit-content;
  float: right;
  position: absolute;
  top: -3px;
  right: 20px;

}


.pointsDiv{
  display: flex;
  align-items:center;
  gap: 10px;
}



.listleft{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin:60px 0;


}
.listleft p {
  color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 153%; /* 45.9px */
}




.orgleft{
  color: #FE7A36;
font-style: normal;
font-weight: 700;
line-height: 153%;
}
.typelogo{
  width: 100%;
  height: auto;
}



.bgWrap {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  height: 690px;
  /* Default background image for desktop */
  background: url("")
    no-repeat center center;
  background-size: contain;
  background: linear-gradient(89deg, #212121 11.25%, rgba(33, 33, 33, 0.90) 62.25%, #212121 95.94%);
  
}

.btnmblDiv{
  display: none;
}

@media screen and (max-width:1381px) {

  .gridConteiner{
    width: 1200px;
  }

  .gridConteiner h1{
    font-size: 40px;
  }

  .rytConteiner h2 {
    font-size: 34px;
  }
  

  
  
}

@media screen and (max-width:1181px) {

  .gridConteiner{
    width: 980px;
    display: grid;
    grid-template-columns: 62% 38%;

    margin: auto;
    padding: 60px 0;
    gap: 0;
    justify-content:center;

  }

  .gridConteiner h1{
    font-size: 30px;
  }

  .rytConteiner h2 {
    font-size: 32px;
  }
  .listleft p{
    font-size: 20px;
  }

  .listleft img {
    width: 30px;
    height: auto;
  }
  .rytConteiner {
    padding: 40px 20px;
  }
  .hr {
    width: 200px;
  }
  .listryt span {
    font-size: 14px;
  }

  .bookFreebtn{
    grid-template-columns: 75% 24%;
  }

  .bookFreebtn button {
    font-size: 14px;
  }
 
  .typelogo img {
    width: 100%;
    height: auto;

  }







}

@media screen  and (max-width:641px){
  .conteiner {
    padding: 0 30px;
    background: url("https://d32and0ii3b8oy.cloudfront.net/web/s3_main/Course-home/mbl_shadows.webp");
    background-color: rgba(15, 14, 14, 0.954);
    margin-top: 64px;
  }
.gridConteiner{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  gap: 30px;
  padding-bottom: 20px;

}

.gridConteiner h1 {
  font-size: 26px;
}
.listleft p {
  font-size: 17px;
}
.listleft {
  margin: 20px 0;
  gap: 20px;
}
.rytConteiner h2 {
  font-size: 30px;
}
.rytConteiner {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 50px 0 20px 0;
}

  .listDown {
    padding: 11px 20px;
  }

  .bookFreebtn button {
    font-size: 12px;
  }
  .bookFreebtn p{
    font-size: 11px;
  }
  .btn{
    display: none;
  }
  .hr{
    width: 250px;
  }
  .spandiv {
    margin: 0;
  }
  .btnMbl{
    display: flex;
    border-radius: 12px;
    background: linear-gradient(90deg, #0383FF 0%, #003456 100%);
    border: none;
    padding: 14px 20px;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    box-shadow: rgba(10, 10, 10, 0.2) 0px 8px 24px;
    margin-top: 20px;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 20px;

  }

  .btnmblDiv{
    display: flex;
    justify-content: center;
    align-items: center;

  }
}






