.section {
  width: 1350px;
  margin: 90px auto;
  position: relative;
  height: 620px;
}

.bgWrap {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  height: 680px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 0px 0px;
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.content h3 {
  background: linear-gradient(90deg, #0FA1FF 12.99%, #0FA1FF 32.19%, #686AFB 53.32%, #FE5449 70.48%);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  margin: 40px 0px 80px 0px;
  animation: animate-gradient 6s linear infinite;
}

.content h1 {
  text-align: center;
  font-size: 52px;
  width: 800px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.65px;
  line-height: 62px;
  color: #fff;
}
.india{
  color: #FE7A36;
}

.round {
  display: flex;
  gap: 30px;
  margin: 0px 0px 30px 0px;
}

.round p {
  border-radius: 30.964px;
  background: linear-gradient(0deg, #212121 0%, #212121 100%), #212121;
  font-size: 16px;
  border-width: 1px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px 30px;
  color: #fff;
  display: flex;
  gap: 10px;
}
.round svg {
  color: #35d028;
  font-size: 24px;
}

.buttonDiv {
  display: flex;
  gap: 50px;
  color: #fff;
  align-items: center;
  margin-top: 40px;
}

.playIcon {
  font-size: 32px;
  margin-left: 5px;
}

.iconDiv {
  padding: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.learnDiv {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.learnDiv svg {
  transition: filter 0.3s ease;
}

.learnDiv:hover svg {
  filter: drop-shadow(0 0 9px rgba(390, 40, 40, 0.9));
}

.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 14px 30px;
  font-size: 16px;
  height: fit-content;
  flex-shrink: 0;
  color: #fff;
  border: 1px solid #FE7A36;
  border-radius: 22.761px;
  background: #FE7A36;
  box-shadow: -4.269px -5.337px 0px 0px rgba(0, 0, 0, 0.25) inset;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(-30deg);
  transition: left 0.8s;
}

.button:hover::before {
  left: 100%;
}

.button:hover {
  background:#FE7A36;
  color: #fff;
}

.curverdiv {
  margin: auto;
}

.typeLogo {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 40px;
  gap: 10px;
}

.typeLogo p {
  color: #9C9C9C;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 153%; /* 38.25px */
}
.bgWrap {

  background: url('https://d32and0ii3b8oy.cloudfront.net/web/s3_main/BG_Home_1.webp') no-repeat center center;
  background-size:contain;
}

@media (max-width: 641px) {
  .section{
    width: 100%;
    margin: 60px auto;
    align-items: center;
    height: fit-content;
  }
  @media (max-width: 640px) {
    .bgWrap {
      background: url('https://d32and0ii3b8oy.cloudfront.net/web/V4/HomePage/mbl_home_two.webp') no-repeat center center;
      background-size: cover;
    }
  }
  .content {
    padding: 70px 0px 60px 0px;
  }
  .content h3 {
    font-size: 20px;
    margin-bottom: 14px;
    text-align: center;
  }
  .content h1 {
    font-size: 32px;
    width: -moz-fit-content;
    width: fit-content;
    line-height: 116%;
    
    
  }
  .round {
    margin: 30px 0px 100px 0px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px 0px;
    /* width: 280px; */
  }
  .buttonDiv {
    gap: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button {
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .iconDiv {
    width: 60px;
    height: 60px;
  }
  .playIcon {
    font-size: 30px;
  }
  .learnDiv {
    font-size: 14px;
  }
  .bgWrap {
    width: 100%;
    height: 100%;
  }
  .topdivround{
    display: flex;
    gap: 10px;
    padding: 0;
  }
 
  .round p {
    font-size:12px;
    padding: 6px 20px;
    border-radius: 14px;
  }
  .typeLogoMobile {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 40px;
    gap: 10px;
    align-items: center;
    position: relative;
    top: -20px;
  }
  .logoWrapMobile{
text-align: center;
  }
  .typeLogo {
    align-items: center;
    user-select: auto;
    margin: 10px 22px;
    position: relative;
    top: -21px;

  }
  .typeLogo p {
    text-align: start;
    font-size: 17px;
  }
  .typeLogo img {
    width: 300px;
    height: auto;
  }
  .round svg {
    font-size: 16px;
  }
}



@media (max-width: 370px) {
  .content h3 {
    font-size: 16px;
    margin-bottom: 14px;
    text-align: center;
  }

  .content{
    font-size: 25px;
        width: -moz-fit-content;
        width: fit-content;
        line-height: 116%;
        padding: 70px 10px 60px 10px;
  }
  .content h1 {
    font-size: 26px;
  }



}
@media (max-width: 412px) {
  .content h3 {
    font-size: 18px;
    margin-bottom: 14px;
    text-align: center;
  }

  .content{
    font-size: 25px;
        width: -moz-fit-content;
        width: fit-content;
        line-height: 116%;
        padding: 70px 10px 60px 10px;
  }
  .content h1 {
    font-size: 28px;
  }
}
