.conteiner {
  width: 1400px;
  border-radius: 40px;
  background: #e5f1f8;
  margin: 60px auto;
  padding: 40px 0;
}
.conteiner h2 {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%; /* 56.925px */
}
.conteiner span {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  line-height: 126.5%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.sliderWrapper {
  /* width: 100vw; */
  overflow: hidden;
  position: relative;
}
.sliderWrapperdown {
  overflow: hidden;
  position: relative;
}
.sliderInner {
  display: flex;
  width: 200%; /* This should be set to 200% of the width of the viewport to handle the duplicated content */
  animation: slide 20s linear infinite;
}

.topDiv {
  display: flex;
  flex-wrap: nowrap; /* Ensure the content stays in a single line */
  margin-top: 34px;
}

.cards {
  display: flex;
  border-radius: 16px;
  background: #fff;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  white-space: nowrap; /* Prevent wrapping */
  flex: 0 0 auto; /* Prevent flex items from shrinking */
  margin: 40px 20px;
}

.cards p {
  margin-top: 0;
  color: #212121;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 126.5%; /* 31.625px */
}

.cards img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 10px;
}

.sliderInnerDown {
  display: flex;
  animation: slideDown 20s linear infinite;
}

@keyframes slideDown {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.DownDiv {
  display: flex;
  flex-wrap: nowrap; /* Ensure the content stays in a single line */
}

.cardsDown {
  display: flex;
  border-radius: 16px;
  background: #fff;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  white-space: nowrap; /* Prevent wrapping */
  flex: 0 0 auto; /* Prevent flex items from shrinking */
  margin: 4px 20px;
}

.cardsDown p {
  margin-top: 0;
  color: #212121;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 126.5%; /* 31.625px */
}

.cardsDown img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 10px;
}

.mblonly {
  display: none;
}
@media screen and (max-width: 1380px) {
  .conteiner {
    width: 1200px;
  }
}

@media screen and (max-width: 1280px) {
  .conteiner {
    width: 1100px;
  }
}

@media screen and (max-width: 1180px) {
  .conteiner {
    width: 1000px;
  }
}
@media screen and (max-width: 980px) {
  .conteiner {
    width: 900px;
  }
  .cards {
    margin: 18px 20px;
  }
}
@media screen and (max-width: 641px) {
  .conteiner {
    width: 100%;
    padding: 20px 0 40px 0;
    margin: 20px 0;

  }

  .section {
    padding: 30px;
    margin: 0;
  }

  .mblonly {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .Desktoponly {
    display: none;
  }

  .mblonly h2 {
    color: #212121;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.5%; /* 31.625px */
  }
  .mblonly p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 126.5%; /* 20.24px */
  }

  .mblonly span {
    font-weight: 700;
  }

  .cards p {
    font-size: 10px;
  }
  .cards {
    padding: 0 10px;
    margin: 10px;
  }
  .cards img {
    width: 50px;
    height: auto;
  }

  .cardsDown p {
    font-size: 10px;
  }
  .cardsDown {
    padding: 0 10px;
    margin: 10px;
  }
  .cardsDown img {
    width: 50px;
    height: auto;
  }
}
