.container {
  padding: 50px 0px;
}

.innerDiv h2 {
  color: #022646;
  text-align: center;
  font-size: 42px;
  font-weight: 500;
}

.topSpan {
  font-weight: 800;
}

.innerBoxDiv {
  display: grid;
  grid-template-columns: 27% 27% 27%;
  align-items: center;
  width: 1170px;
  gap: 110px;
  margin: auto;
  margin-top: 50px;
}

.innerBox {
  border-radius: 60px;
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  padding: 20px 30px;
  height: -webkit-fill-available;
}

.innerBox:nth-child(1) {
    border-color: #04C988;
    background: #e6faf3;
}

.innerBox:nth-child(2) {
    border-color: #0383FF;
background: #E8F4FF;
}

.innerBox:nth-child(3) {
    background: #FFF6DF;
    border-color: #FFC436;

}

.LogoImg {
  width: auto;
  height: auto;
  margin-top: 16px;
}

.innerBox h3 {
    color: #484848;
font-size: 26px;
font-style: normal;
/* line-height: 36px; */
font-weight: 600;
}

.img {
    background: #fff;
    padding: 16px;
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

.headCont {
    display: flex;
    justify-content: flex-end;
}

.innerBox p {
    margin-right: 30px;
    margin-top: 10px;
    font-size: 16px;
    color: #414141;
font-weight: 400;
}

@media only screen and (max-width: 641px) {
  .innerBoxDiv {
    gap: 215px;
    overflow: scroll;
    width: 100%;
    margin-top: 24px;
    padding-left: 20px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .innerBox {
    width: 300px;
    padding: 20px;
    border-radius: 40px;
  }
  .innerBox p {
    margin-right: 0;
  }
  .container {
    padding: 20px 0px;
  }
  .innerDiv h2 {
    text-align: left;
    font-size: 28px;
    margin-left: 24px;
  }
}
