.feature {
  width: 100%;
  margin-top: 20px; /* Is this intentional? It looks like a typo */
  text-align: center;
  padding: 20px;
}

.feature p {
  font-size: 24px;
  font-weight: 700;
}

.feature span {
  color: #2db621;
}
.containerMobile {
  display: none;
}

.container {
  padding: 40px 100px;
}

/* Adjusted the style for smaller screens */
@media (max-width: 641px) {
  .feature .container {
    display: none;
  }

  .featureIcons {
    color: #edb552;
    font-size: 35px; /* Removed quotes around 35px */
  }

  .containerMobile {
    display: block;
  }

  .feature {
    padding: 0px; /* Adjusted the padding */
  }

  .containerMobile img {
    margin: 30px 20px 2px 20px;
  }
}
