.icon {
  font-size: 36px;
}
.iconbox {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.Container {
  display: grid;
  grid-template-columns: 55% 31%;
  margin-bottom: 100px;
  padding: 0px 100px;
  justify-content: space-between;
  gap: 180px;
  align-items: flex-end;
}

.heading {
  margin: 0;
  color: #414141;
  font-size: 36px;
  font-weight: 700;
}

.para {
  color: #414141;
  font-size: 20px;
  margin-right: 170px;
  font-weight: 400;
  margin-top: 20px;
}

.contBlue {
  color: #0072bc;
}

.OrangeText {
  color: #f99600;
  font-size: 22px;
  font-weight: 700;
  margin-top: 25px;
}

.botPara {
  margin: 0;
  color: #2b2b2b;
  font-style: normal;
  font-weight: 400;
  line-height: 148.5%;
  font-size: 17px;
}

.boxSecond {
  margin: auto;
}

.imgBox {
  padding: 30px;
  width: fit-content;
  display: flex;
  justify-content: center;
  border-radius: 6.956px;
  border: 1.159px solid #fff;
  background: rgba(41, 41, 41, 0.8);
  box-shadow: 0px 0px 4.63743px 0px rgba(0, 0, 0, 0.25);
}

.imgBox img {
  border-radius: 6px;
}

.boxDiv {
  display: grid;
  grid-template-columns: 21% 21% 22%;
  gap: 80px;
  margin-top: 80px;
}

.imgShow {
  display: flex;
  justify-content: flex-end;
  width: 340px; /* Adjust the size as needed */
  height: 340px; /* Adjust the size as needed */
  overflow: hidden;
}

.imgShow img {
  will-change: transform;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the container */
  transition: transform 1s ease-in-out; /* Animation duration and easing function */
}

@keyframes rotate {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.imgBoy {
  z-index: 1;
  position: relative;
}

.imgBoy img {
  margin-bottom: -345px;
  z-index: 1;
  margin-left: -25px;
}

.imgShow img {
  animation: rotate 20s linear infinite; /* Adjust the duration as needed */
  margin-top: 175px;
}
@media (max-width: 641px) {
  .Container {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
  }

  .heading {
    font-size: 25px;
  }

  .para {
    margin: 20px 0px 30px 0px;
  }

  .boxDiv {
    display: block;
    margin: 0;
  }

  .innerDiv {
    display: flex;
    gap: 20px;
  }

  .boxSecond {
    margin-top: 30px;
  }

  .imgBoy img {
    width: 100vw;
  }
}
