.container {
  background: linear-gradient(180deg, #FFF 0%, #EFF3F6 40.11%, #EFF3F6 59.31%, #FFF 98.22%);
  color: #000;
  padding: 70px 0px 70px 0px;
}

.innerDiv {
  margin: 0px 20px;
}

.innerDiv h2 {
  color: #022646;
  font-size: 42px;
  font-weight: 400;
}

.topSpan {
  font-weight: 600;
}

.firstSection h3 {
  color: rgba(33, 33, 33, 0.6);
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
}

.pTop span {
  font-weight: 600;
}

.lightGray {
  color: #000;
  font-weight: 400;
}

.orangeHead {
  color: #fe7a36;
}

.pTop {
  color: rgba(33, 33, 33, 0.63);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px;
  margin-right: 60px;
}

.innerBoxDiv {
  display: flex;
  gap: 130px;
  margin: 30px 0px;
}

.innerBox h3 {
  color: #0072bc;
  font-size: 20px;
  font-weight: 600;
}

.innerBox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pBot {
  font-size: 14px;
  line-height: 22px;
  margin-right: 60px;

}

.twoSection {
  display: grid;
  grid-template-columns: 62% 28%;
  gap: 48px;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.orangeSpan {
    color: #FE7A36;
font-weight: 700;
}

.blueSpan {
  color: #0072BC;
  font-weight: 600;
  text-decoration-line: underline;
  font-style: italic;
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition for the color change */
}

.blueSpan:hover {
  color: #FE7A36;
}


.firstSection {
  border-radius: 40px;
  padding: 30px 60px 30px 35px;
  background: #fff;
}

.secondSection img { 
  width: 100%;
  height: auto;
}
.dShow {
  display: block;
}

.dHide {
  display: none;
}
@media only screen and (max-width: 641px) {
  .container {
    padding: 40px 0px;
  }
  .innerDiv {
    margin: 0 24px;
  }
  .topSpan {
    text-underline-offset : 12px;
  }
  .container h2 {
    font-size: 28px;
  }
  .twoSection {
    grid-template-columns: 100%;
    margin-top: 30px;
  }

  .firstSection {
    border-radius: 17px;
    padding: 20px 14px;
  }
  .innerBoxDiv {
    gap: 20px;
    margin: 20px 0;
  }
  .firstSection h3 {
    font-size: 32px;
    line-height: 38px;
  }
  .innerBox {
     gap: 5px;
  }
  .innerBox h3 {
    font-size: 16px;
  }
  .pTop {
    margin-top: 12px;
    font-size: 16px;
    line-height: 22px;
    margin-right: 0px;
  }
  .pBot {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }
  .innerBox img {
    width: 42px;
    height: auto;
  }
  .dShow {
    display: none;
  }

  .dHide {
    display: block;
  }
  .secondSection {
    padding: 0px 30px;
  }
}
