.container {
  background: linear-gradient(
    177deg,
    #eff3f6 3.2%,
    #fff 42.94%,
    #eff3f6 79.56%,
    #fff 97.79%
  );
  color: #000;
  padding: 50px 0px 70px 0px;
}

.innerDiv {
  margin: 0px 50px;
}

.innerDiv h2 {
  color: #022646;
  font-size: 42px;
  font-weight: 800;
  margin-right: 100px;
  line-height: 60px;
}

.twoSection {
  display: grid;
  grid-template-columns: 68% 28%;
  gap: 48px;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.innerBoxDiv {
  display: grid;
  gap: 30px;
}

.innerBox {
  border-radius: 28px;
  background: rgba(0, 114, 188, 0.06);
  display: flex;
  align-items: center;
  padding: 30px 40px 30px 30px;
  gap: 40px;
}

.innerBox h3 {
font-size: 30px;
font-weight: 700;
}

.innerBox p {
    line-height: 26px;
font-weight: 600;
margin-top: 5px;
}

.secondSection img {
  width: 100%;
  height: auto;
}

.innerBox:nth-child(1) {
    background: rgba(0, 114, 188, 0.06);
}

.innerBox:nth-child(1) p, .innerBox:nth-child(1) h3 {
    color: #0072BC;
}

.innerBox:nth-child(2) {
    background: rgba(254, 122, 54, 0.06);
}

.innerBox:nth-child(2) p, .innerBox:nth-child(2) h3 {
    color: #FE7A36;
}

.innerBox:nth-child(3) {
    background: rgba(4, 201, 136, 0.06);
}

.innerBox:nth-child(3) p, .innerBox:nth-child(3) h3 {
    color: #04C988;
}
