/* OutcomeSection.module.css */
.container {
  color: #000;
  padding: 50px 0px 70px 0px;
  background: linear-gradient(180deg, #FFF 0.16%, #EFF3F6 51.71%, #FFF 100%);
}

.innerDiv {
  margin: 0px 50px;
}

.innerDiv h2 {
  color: #022646;
  font-size: 42px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
}

.boldH2,
.borderBot {
  font-weight: 600;
}

.innerBoxDiv {
  display: flex;
  gap: 140px;
  justify-content: center;
  margin-top: 70px;
  background: #fff;
  border-radius: 30px;
  padding: 20px 26px 30px 26px;
}

.innerBox {
  width: 100%;
}

.innerBox div {
  margin: auto;
}

.headCont img {
  border-radius: 50px;
}

.headCont h3 {
  font-size: 24px;
  color: #484848;
  font-weight: 600;
  line-height: 36px;
  margin-right: 60px;
  line-height: 32px;
}

.pTop {
  color: #272727;
  font-size: 17px;
  font-weight: 400;
  line-height: 144.5%;
}

@media only screen and (max-width: 1280px) {
  .headContBlue,
  .headContGreen,
  .headContOrange {
    width: 300px;
  }
  .headCont h3 {
    font-size: 20px;
    line-height: 30px;
  }

}

@media only screen and (max-width: 641px) {
  .container {
    padding: 0px;
  }
  .innerDiv {
    margin: 0px 24px;
  }
  .innerDiv h2 {
    margin: 0;
    font-size: 28px;
    line-height:  38px;
  }
  .borderBot {
    text-underline-offset: 12px;
  }
  .innerBox {
    border-radius: 15px;
border-width: 1.5px 1.5px 1.5px 0px;
padding: 20px;
  }
  .innerBox div {
    align-items: center;
    gap: 20px;
    margin: 0;
    width: auto;
  }
  .innerBoxDiv {
    flex-direction: column;
    gap: 0px;
    margin-top: 24px;
    padding: 0;
  }
}
