.container {
  margin-top: 100px;
}

.headH4 {
  color: #000;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}

.topDiv {
  display: flex;
  gap: 46px;
  margin: 64px 140px -50px 180px;

}

.topDiv img {
  width: 340px;
  height: auto;
}

.innerdiv {
  display: grid;
  grid-template-columns: 28% 28% 28%;
  grid-gap: 34px 60px;
  gap: 100px;
  margin: 40px 140px;
  border-radius: 33px;
}

.innerdiv div h4 {
  color: #0072bc;
  font-weight: 600;
  font-size: 26px;
  margin-top: 10px;
}

.innerdiv div p {
  color: #121212;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.bgBlue {
  background-color: #022646;
  padding: 5px 10px 3px 10px;
  border-radius: 50px;
  width: fit-content;
  margin: 0;
}

.icons {
  font-size: 42px;
  color: rgb(24, 175, 24);
  margin-top: -10px;
}

.innerbox span {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  background: linear-gradient(184deg, #fe7a36 27.72%, #ffc436 80.23%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 641px) {
  .container {
    margin-top: 50px;
  }
  .innerdiv {
    gap: 24px;
    overflow: scroll;
    width: 100%;
    margin-top: 24px;
    padding-left: 20px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    grid-template-columns: 90% 90% 90%;
    border-radius: 0px;
    padding-right: 20px;
    margin: 30px 0px;
  }

  .headH4 {
    text-align: left;
    margin: 0px 24px;
    font-size: 26px;
  }

  .innerdiv div h4 {
    font-size: 26px;
    margin: 10px 0px;
  }

  .innerdiv div P {
    font-size: 17px;
  }
  .topDiv {
    display: none;
  }
  .icons {
    margin: 0;
    font-size: 34px;
  }
}
