.container {
  border-radius: 81px;
  background: #212121;
  width: 1300px;
  margin: auto;
  margin-top: 70px;
  color: #000;
  padding: 70px 0px 0px 0px;
}

.container h2 {
  text-align: center;
  color: #FFF1EA;
  font-size: 44px;
  font-weight: 400;
}

.orangeLine {
  text-decoration: underline;
  text-decoration-color: #fe7a36;
  text-underline-offset: 22px;
  font-size: 44px;
  font-weight: 700;
}

.innerDivOne, .innerDivTwo, .innerDivThree, .innerDivFour {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 110px;
}

.innerDivOne, .innerDivThree {
  grid-template-columns: 50% 30%;
}

.innerDivTwo, .innerDivFour {
  grid-template-columns: 30% 45%;
}

.innerDivOne {
  margin-top: 80px;
}

.SecondFour h3, .SecondFour p {
  color: #fff;
}

.SecondFour p {
  font-size: 18px;
  line-height: 28px;
}

.innerDivFour {
  margin-top: 120px;
  align-items: flex-start;
  gap: 60px;
}

.innerDivThree {
  gap: 60px;
  margin-top: 60px;
}

.oneFirst {
  background: url("https://d32and0ii3b8oy.cloudfront.net/web/V4/course_iit_guwahati/choose_first_left.webp");
  background-size: contain;
  height: fit-content;
  background-repeat: no-repeat;
  padding: 50px;
}

.SecondFour {
  background: url("https://d32and0ii3b8oy.cloudfront.net/web/V4/course_iit_guwahati/four_bottom_doubt.webp");
  background-size: contain;
  height: fit-content;
  background-repeat: no-repeat;
  padding: 50px;
}

.ytBot {
  padding: 0px 20px;
  height: 102px;
  display: grid;
  align-items: center;
  border-radius: 23px;
  border: 1px solid rgba(4, 201, 136, 0.00);
  background: rgba(4, 201, 136, 0.10);
}

.twoSecond {
  background-repeat: no-repeat;
  padding: 24px 70px 35px 40px;
  border-width: 5px 0px 5px 5px;
  border-radius: 40px;
  border-color: #0072BC70;
  background: linear-gradient(270deg, rgba(0, 114, 188, 0.15) 0.32%, rgba(0, 114, 188, 0.00) 98.75%);
  border-style: solid;
}

.threeFirst {
  background: url("https://d32and0ii3b8oy.cloudfront.net/web/V4/course_iit_guwahati/project_choose.webp");
  background-size: contain;
  height: fit-content;
  background-repeat: no-repeat;
  padding: 40px 0px 25px 30px;
}

.ytHead {
  font-size: 32px !important;
}

.oneFirst h3, .twoSecond h3, .threeFirst h3 {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
}

.twoSecondTop {
  border-radius: 35px;
background: rgba(0, 170, 255, 0.20);
font-size: 17px !important;
padding: 5px 30px 5px 20px;
margin: 0px 0px 20px 0px;
}

.twoSecond h3 {
  color: #0092D0;
}

.oneFirst p, .twoSecond p {
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  /* margin-right: 85px; */
  line-height: 25px;
}

.domainText {
  font-size: 15px !important;
}

.innerBox {
  display: grid;
  margin-top: 30px;
  gap: 40px;
  grid-template-columns: 44% 35%;
}

.iconBox {
  display: flex;
  gap: 10px;
  align-items: center;
}

.iconBox p {
  color: #fff;
  font-size: 21px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.oneFour img {
  width: 100%;
  height: auto;
}

.oneSecond img {
  height: 100%;
  width: auto;
}

.botDiv {
  background: url("https://d32and0ii3b8oy.cloudfront.net/web/V4/course_iit_guwahati/botBg_new.webp");
  background-size: contain;
  background-repeat: no-repeat;
  height: 140px;
  padding: 7px 12px;
  margin-top: 45px;
}

.botDivYellow {
  background: url("https://d32and0ii3b8oy.cloudfront.net/web/V4/course_iit_guwahati/yellow_bot.webp");
  background-size: contain;
  background-repeat: no-repeat;
  height: 140px;
  padding: 7px 14px;
  margin-top: 30px;
}

.botDivYellow p 
{
  font-size: 14px;
  line-height: 24px;
}

.botDiv p, .ytBot p{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.botDiv span, .ytBot span, .botDivYellow span {
  color: #fe7a36;
  font-weight: 700;
}

.twoFirst img {
  height: auto;
  width: 100%;
}

.threeSecond img {
  height: auto;
  width: 200px;
  margin: auto;
}

.threeSecond {
  display: grid;
  gap: 20px;
}

.contentIconDiv {
  display: grid;
  grid-template-columns: 50% 38%;
  gap: 50px;
  margin-top: 34px;
}

.contentIconDiv > div {
  display: grid;
  grid-template-columns: 10% 86%;
  gap: 10px;
}

.icon {
  width: 24px;
  height: 24px;
}

.pHead {
  color: #FFF;
font-size: 20px;
font-weight: 600;
  margin: 0;
}

.pBot {
  color: #FFF;
font-size: 17px;
font-weight: 400;
margin: 5px;
}

.icon {
  color: #FE7A36;
}

@media (max-width: 1280px) {
  .container{
    width: auto;
  }
  .oneSecond img{
width: 340px;
height: auto;
  }


}

@media only screen and (max-width: 641px) {
  .container {
    border-radius: 0;
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 1px;
  }
  .container h2, .orangeLine {
    font-size: 28px;
  }
  .orangeLine {
    text-underline-offset: 12px;
  }
  .innerDivOne, .innerDivTwo, .innerDivThree {
    grid-template-columns: 100%;
    margin-top:60px;
    margin: 50px 24px 0px 24px;
    gap: 0px;
    align-items: center;
  }
  .innerDivTwo, .innerDivFour {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 30px;
    gap: 30px;
  }
  .twoSecond {
    padding: 10px;
    border-radius: 20px;
    border-width: 2.5px 0cqh 2.5px 2.5px;
  }
  .oneFirst {
    padding: 20px 10px;
  }
  .twoSecondTop {
    padding: 5px 10px; 
  }
  .twoSecondTop{
    font-size: 13px !important;
    margin-bottom: 10px;
    
  }
  .domainText {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  .oneFirst h3, .twoSecond h3, .threeFirst h3 {
    font-size: 28px;
  }
  .oneFirst p, .twoSecond p {
    color: #fff;
    font-size: 14px;
    line-height: normal;
    margin-top: 5px;
  }
  .innerBox {
    margin-top: 20px;
    gap: 20px;
    grid-template-columns: 47% 47%;
  }
  .iconBox img {
    width: 50px;
    height: auto;
  }

  .oneSecond {
    display: flex;
    justify-content: center;
  }
  .oneSecond img {
    padding: 0px 40px;
  }
  .botDiv {
    margin-top: 14px;
    padding: 8px 10px;
    height: fit-content;
  }
  .botDiv p {
    font-size: 10px;
  }
  .threeFirst {
    padding: 30px 10px;
  }
  .ytHead {
    font-size: 20px !important;
  }
  .icon {
    width: 16px;
    height: 22px;
  }
  .contentIconDiv {
    grid-template-columns: 51% 45%;
    gap: 10px;
    margin-top: 12px;
  }
  .ytBot {
    height: 76px;
  }
  .ytBot p {
    line-height: 20px;
  }
  .pHead {
    font-size: 13px;
  }
  .pBot {
    font-size: 12px;
  }
  .innerDivFour {
    margin: 30px 24px;
    gap: 10px;
  }
  .SecondFour {
    padding:  14px;
  }
  .SecondFour h3 {
    font-size: 24px;
  }
  .SecondFour p {
    font-size: 13px;
    line-height: 20px;
  }
  .botDivYellow {
    margin-top: 16px;
    height: 60px;
  }
  .botDivYellow p {
    margin-top: 0px;
    font-size: 12px;
  }

}