.projectSection {
  margin-top: 4rem;
  width: 100%;
  background: linear-gradient(180deg, #fff 8.58%, #eff3f6 69.44%, #fff 99.96%);
  position: relative;
  margin-bottom: 110px;
}

.headline {
  margin-bottom: 20px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: 126.5%; /* 69.575px */
}

.headline span {
  font-weight: 600;
}

.projectHeading {
  text-align: center;
  color: #000;
  padding: 1.5rem 0;
  font-size: 55px;
  font-weight: 400;
}

.boldHeading {
  font-size: 55px;
  font-weight: 700;
  border-bottom: 4px solid #fe7a36;
}

.botDiv img {
  width: 100%;
  height: auto;
}

.botDiv {
  width: 100%;
  max-width: 1150px;
  margin: auto;
}

.botDiv h4 {
  color: #fff;
  margin-top: -90px;
  margin-left: 40px;
  position: absolute;
}

.botDiv p {
  font-size: 14px;
  margin-left: 10px;
  margin-top: 30px;
}

.spanOrange {
  color: #fe7a36;
  font-weight: 700;
}

.orangeLine {
  height: 5px;
  width: 212px;
  background: #fe7a36;
  margin: auto;
}

.subheadingContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.orangeBox,
.blueBox,
.greenBox {
  border-radius: 40.486px;
  padding: 8px 30px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.orangeBox {
  color: #fe7a36;
  background: #fff2eb;
}

.blueBox {
  background: #e5f2f8;
  color: #0072bc;
}

.greenBox {
  background: #e6faf3;
  color: #04c988;
}

.mySwiper {
  width: 1150px;
  margin: auto;
  margin-top: 60px;
}

.sliderWrapper {
  margin-bottom: 2.6rem;
}

.projectsContainer {
  margin-top: 3.5rem;
}

.projectCard {
  border-radius: 40px;
  background: #fff;
  padding: 1.5rem 1.4rem;
  height: 370px;
}

.upperPart {
  display: flex;
  justify-content: space-between;
}

.upperRight {
  display: flex;
  gap: 1rem;
  margin-top: -1.5rem;
}

.boxNum {
  color: rgba(0, 0, 0, 0.4);
  font-size: 40px;
  font-weight: 700;
  margin-top: 6px;
}

.hrsBox {
  border-radius: 0px 40px 0px 10px;
  background: #022646;
  height: 40px;
  padding: 0px 35px;
  margin-right: -1.4rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 30px;
}

.cardTitle {
  color: #0072bc;
  font-size: 15px;
  font-weight: 600;
  margin: 14px auto;
}

.cardText {
  color: #616161;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.lowerBox {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  border-radius: 12px;
  background: rgba(254, 122, 54, 0.1);
  padding: 0.8rem 1rem;
  margin: 1rem 0;
}

.projectIcon {
  width: auto;
  height: 35px;
  mix-blend-mode: multiply;
}

.tableauIcon {
  width: 120px;
  height: 30px;
}

.sqlIcon {
  width: 80px;
  height: 25px;
}

.ctaText {
  color: #0072bc;
  font-weight: 400;
}

.blueSpan {
  color: #0072bc;
  font-weight: 600;
  text-decoration-line: underline;
  font-style: italic;
  cursor: pointer;
  transition: color 0.3s ease;
}

.blueSpan:hover {
  color: #fe7a36;
}

.botDivMobile {
    display: none;
}

@media screen and (max-width: 1208px) {
  .mySwiper {
    width: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .projectHeading {
    font-size: 45px;
  }
  .boldHeading {
    font-size: 45px;
  }
  .botDiv {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .projectHeading {
    font-size: 35px;
  }
  .boldHeading {
    font-size: 35px;
  }
  .subheadingContainer {
    gap: 0.5rem;
  }
  .projectCard {
    height: auto;
    padding: 1rem;
  }
  .lowerBox {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 641px) {
    .projectSection {
        margin-bottom: 50px;
    }
  .headline {
    margin: 0;
    font-size: 28px;
    line-height: 38px;
  }
  .headline span {
    text-underline-offset: 10px;
  }
  .subheadingContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
  }

  .hrsBox {
    margin-right: auto;
    font-size: 30px;
height: 40px;
  }

  .botDiv {
    display: none;
  }

  .mySwiper {
    width: 100%;
    margin-top: 40px;
    padding: 0px 20px !important;
  }

  .botDivMobile {
    padding: 30px 24px 0px 24px;
    display: block;
  }

  .projectCard {
    padding: 14px 10px 20px 14px;
    height: 350px;
  }
  .cardText {
    font-size: 14px;
    line-height: 20px;
  }

  .cardTitle {
    font-size: 14px;
    margin: 14px 0px;
  }


  .botDivMobile img {
    width: 100%;
    height: auto;

  }

  .orangeBox,
.blueBox,
.greenBox {
  padding: 8px 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  border-radius: 25.962px;
}
}

@media screen and (max-width: 480px) {
  .projectHeading {
    font-size: 25px;
  }
  .boldHeading {
    font-size: 25px;
  }
  .subheadingContainer {
    font-size: 14px;
  }
}
