/* LearningToPlacement.module.css */
.wrapper {
  background: linear-gradient(125deg, #08093d 3.22%, #141414 84.06%);
  color: #ffffff;
  font-family: "Inter", sans-serif;
  padding: 4rem 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.header {
  font-weight: 600;
  margin-bottom: 2rem;
  color: white;
  line-height: 1.4;
  display: grid;
  grid-template-columns: 25% 30% 30%;
  gap: 50px;
  justify-content: center;
}

.top h3 {
  font-size: 3.5rem;
}

.des {
  color: #b0b0b0;
  font-size: 26.635px;
  font-style: normal;
  font-weight: 500;
  line-height: 126.5%; /* 51.403px */
}

.span {
  font-size: 30px;
  font-weight: 400;
}

.highlight {
  background: linear-gradient(97deg, #edbb52 38.18%, #ca3942 79.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 600;
  line-height: 126.5%;
}
/* 
.underline {
  width: 90px;
  height: 3px;
  background: #ffd500;
  margin: 0.5rem auto 0;
} */

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.card {
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 180px;
  align-items: baseline;
}

.skills {
  color: #fff;
  font-size: 28.698px;
  font-style: normal;
  font-weight: 500;
  line-height: 126.5%;
}

.red {
  border-radius: 15px;
  background: linear-gradient(180deg, #0c0c30 0%, #ca3942 163.45%);
}

.teal {
  border-radius: 15px;
  background: linear-gradient(177deg, #04c988 -107.23%, #11111f 97.39%);
}

.purple {
  border-radius: 15px;
  background: linear-gradient(
    181deg,
    #6f1cc7 -19.06%,
    rgba(12, 02, 2, 0) 122.7%
  );
}

.dark {
  background-color: #1e1e2f;
}

.support {
  background: linear-gradient(90deg, #302d2d, #5d4e2f);
}

.videoCard {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  min-height: 180px;
}

.green {
  color: #14e884;
  font-weight: 600;
}

.orange {
  color: #ffc107;
  font-weight: 600;
}

.bold {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #fff;
  font-weight: 600;
  line-height: 126.5%;
}

.boldYellow {
  color: #ef0;
  text-align: center;
  font-size: 45.485px;
  font-style: normal;
  font-weight: 900;
  line-height: 126.5%;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 0.8rem;
  font-size: 0.85rem;
  opacity: 0.9;
}

.logos span {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
}

.mainGrid {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 30px;
  justify-content: center;
  padding: 50px;
}

.left {
  border-radius: 15px;
  background: linear-gradient(
    181deg,
    #6f1cc7 -19.06%,
    rgba(16, 16, 34, 0) 122.7%
  );
  padding: 5px 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pTag {
  color: #fff;
  font-size: 35.814px;
  font-style: normal;
  font-weight: 700;
  line-height: 126.5%;
  text-align: center;
}

.green {
  color: #04c988;
}

.nor {
  color: #fff;
  font-weight: 300;
}

.learn {
  color: #fff;
  text-align: center;
  font-size: 20.278px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%;
  padding: 10px 60px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.capstoneBox {
  display: flex;
  padding: 2rem;
  align-items: center;
  /* background: linear-gradient(270deg, #272935 0%, #00092A 100%); */
  background: linear-gradient(70deg, #af8104 -10%, #161617 18%);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  justify-content: space-around;
}

.capLeft {
  background: linear-gradient(122deg, #ffc752 25.75%, #785202 60.79%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 90px;
  font-weight: 800;
}

.capLeft span {
  font-weight: 600;
  font-size: 60px;
  color: #fec008;
}

.capRight h5 {
  color: #fff;
  font-size: 40.819px;
  font-style: normal;
  font-weight: 500;
  line-height: 126.5%; /* 65.551px */
  color: #ffffff;
  margin-bottom: 10px;
}

.capRight p {
  color: #fff;
  font-size: 25.698px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%; /* 45.158px */
  color: #ffffffcc;
}

.capRight strong {
  color: #ffffff;
  font-weight: 700;
}

.supportBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(70deg, #af8104 -10%, #161617 18%);
  /* padding: 1.8rem 2rem; */
  border-radius: 15px;
  flex-wrap: wrap;
  gap: 20px;
}

.supportText {
  padding: 31px 27px;
}
.supportText h5 {
  color: #edbb52;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 126.5%; /* 50.6px */
}

.supportText h5 span {
  color: #ffffff;
  font-weight: 800;
}

.supportText p {
  font-size: 16px;
  color: #ffffff;
  max-width: 400px;
  color: #fff;
  font-size: 24.698px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.5%; /* 45.158px */
}

.supportVideo img {
  border-radius: 10px;
  width: 280px;
  height: auto;
}
