/* new css */

.ThreeCard {
  display: grid;
  grid-template-columns: 28% 34% 28%;
  gap: 58px;
  padding: 0px 150px;
  align-items: center;
  margin-top: 50px;
}

.first {
  border-radius: 6px;
  background: #f4fbff;
  padding: 30px 20px;
  color: #484848;
  height: fit-content;
}

.divButton {
  display: flex;
  margin: 20px 0px 0px;
  justify-content: center;
}

.first p {
  margin: 0;
  color: #484848c2;
  font-size: 16px;
  font-weight: 400;
}

.imgFee img {
  width: 100%;
  height: auto;
}

.second {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px;
}

.cutText {
  color: #484848bf !important;
  text-align: center;
  font-size: 26.153px;
  font-weight: 300;
  text-decoration: line-through;
  margin: 20px 0px 0px 0px;
}

.divContent {
  text-align: center;
  margin: 20px 0px;
}

.divContent p {
  margin: 5px;
}

.divContent .boxSpan {
  color: #2db621;
  font-size: 20px;
  font-weight: 700;
}

.spanText {
  color: #484848;
  text-align: center;
  font-size: 14.814px;
  font-weight: 400;
}

.pTop {
  color: #484848;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-weight: bold;
}

.price {
  color: #484848;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin: 0px 0px 20px 0px;
}

.second p {
  color: #484848;
}

.box {
  border-radius: 6px;
  background: #f7f7f7;
  padding: 25px 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box p {
  margin: 0;
  text-align: center;
  display: flex;
  gap: 20px;
  align-items: center;
}

.boxP {
  color: #272727;
  font-size: 16px;
  font-weight: 600;
}

.boxSpan {
  color: #2db621;
  font-size: 16px;
  font-weight: 700;
}

.boxSpanP {
  color: #8d8e8f;
  font-size: 14px;
  font-weight: 400;
}

.orangeText {
  color: #fe7a36 !important;
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0px 10px 0px;
}

.iconImage img {
  width: 100%;
  height: auto;
}

.third {
  border-radius: 6px;
  background: #fdf3ee;
  padding: 30px 0px;
  height: fit-content;
}

.third > p {
  color: #484848;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.boxOrange {
  margin: 30px 0px 30px 30px;
}

.boxOrange > p {
  margin: 0;
  color: #fe7a36;
  font-size: 16px;
  font-weight: 700;
}

.batches {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  align-items: center;
}

.date {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.Time {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 20px;
}

.day {
  color: #707070;
  font-size: 16px;
  font-weight: 700;
}

.paraBot {
  color: #484848;
  font-size: 16px;
  font-weight: 400;
}

.batchImg {
  display: flex;
  justify-content: space-between;
}

.batchImg > p {
  margin: 0;
  color: #fe7a36;
  font-size: 16px;
  font-weight: 700;
}

.batchImg img {
  position: relative;
  margin-left: -10px;
}

.feesmain h2 {
  color: #212121;
  text-align: center;
  font-size: 42px;
  font-weight: 600;
}

.feesmain {
  background: linear-gradient(
    180deg,
    #fff 0%,
    #eff3f6 42.69%,
    #eff3f6 66.46%,
    #fff 98.82%
  );
  margin-top: 70px;
}

.feesmain span {
  color: #fe7a36;
}

/* EMIPOPUP */
.Emipopup {
  position: absolute;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 10px 40px;
  /* width: 800px; */
  margin-top: 100px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: right;
  /* margin-left: 300px; */
  height: 450px;
  margin: 150px 220px 20px 220px;
}
.clostbtn span {
  color: #767676;
}

.clostbtn {
  color: #484848;
  cursor: pointer;
}
.clostbtn :hover {
  color: rgb(0, 162, 255);
}

/* new Css */

.mainContainer {
  border-radius: 38.262px;
  padding: 60px 50px 0px 50px;
  width: 1200px;
  margin: auto;
}
/* .innerMainContainer {
    position: relative;
    top: -130px;
  } */
.innerContainer {
  display: grid;
  grid-template-columns: 44% 44%;
  gap: 60px;
  justify-content: center;
}
.divTop {
  display: flex;
  gap: 24px;
  align-items: center;
  
}

.starRight {
  position: absolute;
  margin-top: -50px;
  margin-left: 142px;
}

.starRight img {
  width: 100%;
  height: auto;
}
.divTop span {
  border-radius: 33px;
border: 1px solid #0383FF;
background: rgba(3, 131, 255, 0.15);
color: #0383FF;
font-size: 14px;
font-weight: 500;
padding:  3px 10px;
margin-bottom: 34px;
}
.firstContainer,
.secondContainer {
  padding: 50px 40px 30px 40px;
  border-radius: 39.625px;
border: 4px solid #F3F3F3;
background: #FFF;
}
.headContent, .headContentBlue {
  font-size: 36px;
  font-weight: 600;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 50px 0px;
  border-radius: 30px;
  background: #fff;
  padding: 16px;
  position: relative;
  z-index: 1;
}

.botDivArrowBlue, .botDivArrowOrange {
    background: #fff;
    width: 130px;
    height: 100px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    margin-top: -130px;
    margin-bottom: 50px;
}

.botDivArrowOrange {
  margin-left: 40px;
}

.botDivArrowBlue {
  float: right;
  margin-right: 40px;
}

.botDivArrowBlue {
    background: #0072bc40;
}

.botDivArrowOrange {
    background: #FE7A3640;
}

.headContent {
    border: 1px solid #FE7A36;

}

.headContentBlue {
    border: 1px solid #0072BC;
}

.headOrange, .headBlue {
  color: #212121;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 34px;
}

.headContent img, .headContentBlue img {
  width: auto;
  height: 100%;
}
.divHeadIcon img {
  width: auto;
  height: 40px;
}
.firstContainer .headContent,
.secondContainer .headContent {
  font-size: 30px;
}

.firstContainer .headContent h4 {
  color: #fe7a36;
  margin: 0;
}

.firstContainer .iconDiv {
  margin-top: 26px;
  padding-bottom: 47px;
  border-bottom: 1px solid #000;
}
.secondContainer .headContent h4 {
  color: #0072bc;
  margin: 0;
}

.iconDiv {
  display: grid;
  gap: 28px;
  margin-top: 26px;
  padding-bottom: 34px;
  border-bottom: 1px solid #000;
}

.innerIconDiv {
  display: flex;
  gap: 14px;
  align-items: center;
}

.iconContent span {
  color: #000;
  font-weight: 500;
}

.iconDiv p {
  color: #212121;
  font-weight: 400;
  margin: 0;
}

.firstP, .fadedText {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}

.divHeadIcon {
  border-radius: 72px;
  background: #fff2eb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fe7a36;
  font-size: 18px;
  font-weight: 500;
  margin: auto;
  gap: 10px;
  padding: 5px 30px;
  width: fit-content;
}

.divHeadIcon h4 {
  font-size: 26px;
  /* padding: 12px 0px; */
  color: #fe7a36;
}

.secondContainer > .innerIconDiv {
  text-align: center;
  margin-top: 30px;
}
.innerIconDiv img,
.divHeadIcon img {
  width: auto;
  height: 24px;
}

.emiButton button, .emiButtonBlue button {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  margin-top: 24px;
  width: fit-content;
  padding: 14px 40px;
  border: none;
}

.emiButtonBlue button {
  background: #0072BC;

  }

  .emiButton button {
    color: #0072BC;
  font-weight: 600;
background: #EFF3F6;
    }

.emiButton button:hover {
  background: #fff;
  color: #000;
}

.feeContentContainer p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.feeContentContainer h4 {
  color: #000;
  font-size: 36px;
  font-weight: 500;
  margin-top: 4px;
}
.feeContentContainer > h4 {
  width: fit-content;
}
.paymentPartner {
  text-align: center;
  margin-top: 50px;
}

.paymentPartner p {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
}

.paymentPartner img {
  width: auto;
  height: 100%;
}

.border {
padding: 24px 0px 40px 0px;
}

.border h4 {
  color: #838383;
  font-size: 24px;
  margin-top: 5px;
  font-weight: 600;
}

.border span {
  font-size: 14px;
  font-weight: 500;
  color: #838383;
}

.border p {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}
.pImp {
  font-size: 12px;
  line-height: normal;
}

@media (max-width: 1281px) {
  .price {
    font-size: 35px;
  }

  .mainContainer{
    width: auto;
  }
}
@media (max-width: 1024px) {
  .ThreeCard {
    padding: 20px 50px;
  }
}

@media (max-width: 641px) {
  .ThreeCard {
    padding: 20px;
    display: grid;
    grid-template-columns: 100%;
    gap: 30px;
    margin-top: 20px;
  }

  .feesmain h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 28px;
    color: #212121;
font-weight: 400;
  }

  .iconDiv {
    padding-bottom: 26px;
  }

  .emiButtonBlue button {
    padding: 10px 20px;
  }

  .feesmain span {
    color: #212121;
font-weight: 700;
  }


  .second {
    padding: 20px;
  }

  .box {
    padding: 20px 10px;
  }

  .Emipopup {
    margin: -25px;
    margin-top: 200px;
    padding: 1px 9px;
    height: 300px;
  }

  /* new css */

  .mainContainer {
    width: 100%;
    margin-top: 20px;
    padding: 0px 24px 40px 24px;
    height: 100%;
  }

  .innerMainContainer {
    top: 20px;
  }

  .innerContainer {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .firstContainer .iconDiv {
    margin-top: 20px;
    gap: 12px;
    grid-template-columns: 100%;
    margin-bottom: 20px;
    padding-bottom: 24px;
  }
  .feesmain {
    margin-top: 50px;
    }
    .border {
      padding: 0px 0px 20px 0px;
    }
  .firstContainer,
  .secondContainer {
    padding: 20px 16px;
    border-radius: 20px;
  }
  .feeContentContainer h4 {
    padding: 0px;
    font-size: 32px;
  }
  .emiButton {
    margin: auto;
    margin-top: 20px;
  }
  .divHeadIcon h4 {
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  .fadedText {
    font-size: 18px;
  }
.headContent, .headContentBlue {
  padding: 12px;
  margin-bottom: 0px;
}
.headOrange, .headBlue {
  font-size: 26px;
  margin-bottom: 20px;
}
.headContent img, .headContentBlue img {
  width: 40px;
}
.botDivArrowOrange {
  margin-top: -60px;
  margin-bottom: 24px;
  width: 84px;
  height: 80px;

}
 .botDivArrowBlue {
  float: left;
  margin: -60px 0px 24px 40px;
  width: 84px;
  height: 80px;

}
.secondContainer {
  margin-top: 40px;
}
.firstP {
  font-size: 18px;
}
.innerIconDiv img,
.divHeadIcon img {
  height: 20px;
}
.pImp {
  font-size: 14px;
  line-height: 22px;
}

.pImp span {
  color: #FE7A36;
}

.iconDiv {
  gap: 12px;
  margin-bottom: 20px;
}
.innerIconDiv {
  gap: 14px;
}
.border p {
  font-size: 18px;
}
.border h4 {
  font-size: 22px !important;
  margin-bottom: 0;
  padding: 0;
}
.emiButton {
  margin-top: 10px;
}
.emiButton button {
  margin-top: 0;
  padding: 10px 20px;
}
.headContentBlue {
  margin-top: 40px;
}
.starRight {
  margin-top: -20px;
  margin-left: 23px;
}
.divTop  {
    gap: 10px;
    z-index: 1;
    position: relative;
}
.divTop span {
  margin-bottom: 20px;
}
}
