.continer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    margin: auto;
}
.continer h3{
    color: #212121;
text-align: center;
font-size: 46px;
font-style: normal;
font-weight: 400;
line-height: 126.5%; 
}

.continer p {
    color: #000;
text-align: center;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 126.5%; /* 35.42px */
}

.span {
    color: #212121;
font-weight: 700;
line-height: 126.5%;
}


.spantags{
display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px;

}
.spantags span {
    color: #00090F;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 243%; /* 53.46px */
display: flex;
    align-items: center;

}
.mobileText{
    display: none;
}
.spantagsMbl{
    display: none;
}

@media screen and (max-width:641px){
.continer{
    width: 100vw;
    padding: 20px;
    
}
.continer h3{
    font-size: 24px;
}
.desktopText {
    display: none; /* Hide on mobile */
  }

  .mobileText {
    display: block; /* Show on mobile */
  }
  .continer p {
    color: #000;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140.5%; /* 17.71px */
    margin-top: 20px;
  }
  .spantags{
    display: none;
  }

  .MblTop{
    display: flex;
    justify-content: space-around;
    
  }
  .MblTop span {
    color: #0072BC;
    font-size: 11.38px;
    font-weight: 500;
    line-height: 243%;
    border-radius: 10.424px;
    background: rgba(3, 131, 255, 0.10);
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    align-items: center;
}

.MblDown {

display: flex;
justify-content: center;

}
.MblDown span {
    color: #0072BC;
    font-size: 11.38px;
    font-weight: 500;
    line-height: 243%;
    border-radius:10.424px;
    background: rgba(3, 131, 255, 0.10);
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    align-items: center;
    margin: 20px;
}
.spantagsMbl{
    display:block;
}

}

@media screen and (max-width:380px){
    .MblDown span {
        font-size: 8.38px;


    }

    .MblTop span {
        font-size: 8.38px;
    }

}