.container {
  margin-top: 100px;
  background: linear-gradient(180deg, #FFF 0%, #EFF3F6 49.89%, #FFF 100%);
}

.headH4 {
  color: #000;
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}

.innerdiv {
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  gap: 34px 60px;
  margin-top:30px;
  padding: 0px 50px;
  border-radius: 33px;
/* background: #F8FCFF; */
}

.innerdiv div h4 {
  color: #0072BC;
  font-weight: 600;
  font-size: 26px;
}

.innerdiv div p {
  color: #121212;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  margin-right:150px;
}

.innerdiv div:nth-child(1), .innerdiv div:nth-child(2), .innerdiv div:nth-child(3), .innerdiv div:nth-child(4) {
  border-radius: 28.284px; /* Border radius */
      padding: 26px 0px 0px 42px;

}

.innerdiv div:nth-child(1), .innerdiv div:nth-child(4) {
  background: #FFF;
}


.innerdiv div:nth-child(2), .innerdiv div:nth-child(3) {
  background: #FFF;
}

.innerdiv div:nth-child(2) h4, .innerdiv div:nth-child(3) h4 {
  color: #0072BC;
}

.innerdiv img {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.img1 {
  margin-bottom: -2px;
}

.img2 {
  margin-bottom: -13px;
}

@media only screen and (max-width: 641px) {
.container {
  margin-top: 0px;

}
.innerdiv {
  flex-direction: column;
    display: flex;
    position: relative;
  gap: 24px;
  overflow: scroll;
  width: 100%;
  margin-top: 24px;
  padding-left: 20px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  grid-template-columns: 90% 90% 90% 90%;
  border-radius: 0px;
  padding-right: 20px;
}
.innerdiv div:nth-child(1), .innerdiv div:nth-child(2), .innerdiv div:nth-child(3), .innerdiv div:nth-child(4) {
  border: 0.961px solid transparent;
  border-radius: 21.628px; /* Border radius */
      padding: 24px 0px 0px 24px;
}
.innerdiv h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.innerdiv img {
  width: 50px;
  height: auto;
    margin-top: -80px;
  margin-right: 4px;
  position: relative;
  top: -130px;
  bottom: 10px;
  right: 20px;
}
.innerdiv div h4 {
  font-size: 20px;
}
.innerdiv div p {
  color: #121212;
font-size: 14px;
font-style: normal;
line-height: 148%; /* 23.68px */
}

.headH4 {
  text-align: left;
  margin: 0px 24px;
  font-size: 26px;
}

.innerdiv div P {
  margin: 0 46px 30px 0px;
  font-size: 17px;
}

}