.First {
  padding: 0px 100px;
  display: grid;
  grid-template-columns: 46% 44%;
  gap: 100px;
  align-items: center;
}

.switch {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 20px;
}

.switch p {
  font-size: 26px;
  font-weight: 700;
  padding: 20px 30px;
  margin: 0;
}

.switchInnerGreen,
.switchInnerBlue,
.switchInnerRed {
  display: grid;
  grid-template-columns: 50% 40%;
  padding: 20px 30px;
  align-items: center;
  text-align: center;
  border-radius: 6px;
  justify-content: center;
}
.switchInnerBlue {
  display: grid;
  grid-template-columns: 38% 50% 5%;
  justify-content: center;
  align-items: center;
}

.proImgWrap {
  cursor: pointer;
}

.switchInnerBlue {
  background: rgba(66, 133, 244, 0.1);
}

.switchInnerGreen {
  background: rgba(164, 201, 143, 0.1);
}

.switchInnerRed {
  background: rgba(199, 31, 14, 0.1);
}

.rating {
  font-size: 36px;
  font-weight: 800;
}

.star {
  font-size: 20px;
  color: #f99600;
}

.container {
  margin-bottom: -50px;
}

.container h4 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 46px;
  margin-top: 50px;
}
.proImgWrap h2 {
  display: none;
}
@media (max-width: 641px) {
  .switch {
    display: flex;
    justify-content: space-around;
    gap: 1px;
    /* opacity: 0.6; */
    background: linear-gradient(
      90deg,
      rgba(237, 233, 233, 0) 0%,
      rgba(235, 235, 235, 0.6) 52.6%,
      rgba(239, 239, 239, 0) 100%
    );
    box-shadow: 0px 0px 2.80102px 0px rgba(0, 0, 0, 0.15) inset;
    align-items: center;
    text-align: center;
    display: none;
  }

  .innerBoxHide {
    display: none;
  }

  .switch p {
    display: none;
  }

  .switchInnerGreen,
  .switchInnerBlue,
  .switchInnerRed {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    background: none;
    gap: 0px;
    /* padding: 17px 20px 0px 36px; */
    padding-bottom: 4px;
    padding-top: 10px;
    padding: 10px;
  }

  .topRatedImg img {
    width: 30px;
    height: auto;
  }

  .container {
    display: flex;
    flex-flow: column;
    padding: 0px;
    margin: 0px;
    /* background-color: orange; */
    margin-top: 30px;
  }

  .rating {
    font-size: 18px;
    color: #0072bc;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 126.5%;
    font-style: normal;
    margin-top: 9px;
  }

  .First {
    display: grid;
    grid-template-columns: 100%;
    padding: 0px;
    justify-content: center;
    gap: 10px;
  }
  .proImgWrap {
    padding: 13px 30px 0px 0px;
  }
  .proImgWrap h2 {
    color: #414141;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 126.5%;
    display: flex;
    justify-content: space-around;
    margin: 14px;
  }
  .container h4 {
    display: none;
  }
}
